pre.rouge.highlight table td { padding: 5px; }
pre.rouge.highlight table pre { margin: 0; }
pre.rouge.highlight .cm {
  color: #999988;
  font-style: italic;
}
pre.rouge.highlight .cp {
  color: #999999;
  font-weight: bold;
}
pre.rouge.highlight .c1 {
  color: #999988;
  font-style: italic;
}
pre.rouge.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
pre.rouge.highlight .c, pre.rouge.highlight .ch, pre.rouge.highlight .cd, pre.rouge.highlight .cpf {
  color: #999988;
  font-style: italic;
}
pre.rouge.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
pre.rouge.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
pre.rouge.highlight .ge {
  color: #000000;
  font-style: italic;
}
pre.rouge.highlight .gr {
  color: #aa0000;
}
pre.rouge.highlight .gh {
  color: #999999;
}
pre.rouge.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
pre.rouge.highlight .go {
  color: #888888;
}
pre.rouge.highlight .gp {
  color: #555555;
}
pre.rouge.highlight .gs {
  font-weight: bold;
}
pre.rouge.highlight .gu {
  color: #aaaaaa;
}
pre.rouge.highlight .gt {
  color: #aa0000;
}
pre.rouge.highlight .kc {
  color: #000000;
  font-weight: bold;
}
pre.rouge.highlight .kd {
  color: #000000;
  font-weight: bold;
}
pre.rouge.highlight .kn {
  color: #000000;
  font-weight: bold;
}
pre.rouge.highlight .kp {
  color: #000000;
  font-weight: bold;
}
pre.rouge.highlight .kr {
  color: #000000;
  font-weight: bold;
}
pre.rouge.highlight .kt {
  color: #445588;
  font-weight: bold;
}
pre.rouge.highlight .k, pre.rouge.highlight .kv {
  color: #000000;
  font-weight: bold;
}
pre.rouge.highlight .mf {
  color: #009999;
}
pre.rouge.highlight .mh {
  color: #009999;
}
pre.rouge.highlight .il {
  color: #009999;
}
pre.rouge.highlight .mi {
  color: #009999;
}
pre.rouge.highlight .mo {
  color: #009999;
}
pre.rouge.highlight .m, pre.rouge.highlight .mb, pre.rouge.highlight .mx {
  color: #009999;
}
pre.rouge.highlight .sa {
  color: #000000;
  font-weight: bold;
}
pre.rouge.highlight .sb {
  color: #d14;
}
pre.rouge.highlight .sc {
  color: #d14;
}
pre.rouge.highlight .sd {
  color: #d14;
}
pre.rouge.highlight .s2 {
  color: #d14;
}
pre.rouge.highlight .se {
  color: #d14;
}
pre.rouge.highlight .sh {
  color: #d14;
}
pre.rouge.highlight .si {
  color: #d14;
}
pre.rouge.highlight .sx {
  color: #d14;
}
pre.rouge.highlight .sr {
  color: #009926;
}
pre.rouge.highlight .s1 {
  color: #d14;
}
pre.rouge.highlight .ss {
  color: #990073;
}
pre.rouge.highlight .s, pre.rouge.highlight .dl {
  color: #d14;
}
pre.rouge.highlight .na {
  color: #008080;
}
pre.rouge.highlight .bp {
  color: #999999;
}
pre.rouge.highlight .nb {
  color: #0086B3;
}
pre.rouge.highlight .nc {
  color: #445588;
  font-weight: bold;
}
pre.rouge.highlight .no {
  color: #008080;
}
pre.rouge.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
pre.rouge.highlight .ni {
  color: #800080;
}
pre.rouge.highlight .ne {
  color: #990000;
  font-weight: bold;
}
pre.rouge.highlight .nf, pre.rouge.highlight .fm {
  color: #990000;
  font-weight: bold;
}
pre.rouge.highlight .nl {
  color: #990000;
  font-weight: bold;
}
pre.rouge.highlight .nn {
  color: #555555;
}
pre.rouge.highlight .nt {
  color: #000080;
}
pre.rouge.highlight .vc {
  color: #008080;
}
pre.rouge.highlight .vg {
  color: #008080;
}
pre.rouge.highlight .vi {
  color: #008080;
}
pre.rouge.highlight .nv, pre.rouge.highlight .vm {
  color: #008080;
}
pre.rouge.highlight .ow {
  color: #000000;
  font-weight: bold;
}
pre.rouge.highlight .o {
  color: #000000;
  font-weight: bold;
}
pre.rouge.highlight .w {
  color: #bbbbbb;
}
pre.rouge.highlight {
  background-color: #f8f8f8;
}
